{% extends 'base.html' %}

{% block head %}
    <title>Login page</title>
{% endblock %}

{% block body %}
    <h1>Login form</h1>
    <form action="" method="POST">
        <input type="text" name="username" id="username" value="{{olduser}}"/>
        <input type="password" name="password" id="password"/>
        <input type="submit" value="Login"/>
    </form>
    <a href="/register">Register an account</a>

{% if error == 1 %}
    <h2 style="color:red;">Account does not exist.</h2>
{% endif %}

{% if error == 2 %}
    <h2 style="color:red;">Password is incorrect.</h2>
{% endif %}

<h3>Current accounts:</h3>
{% for user in users %}
    <p>{{user.username}}</p>
{% endfor %}

{% endblock %}